<hr class="formRowSep" />

<xf:numberboxrow name="options[at_lmo_time]" value="{$options.at_lmo_time}" min="1"
	label="{{ phrase('at_lmo_time') }}" units="{{ phrase('units_hours') }}" />

<xf:numberboxrow name="options[at_lmo_limit]" value="{$options.at_lmo_limit}"
	label="{{ phrase('maximum_usernames') }}"
	explain="{{ phrase('maximum_usernames_explain') }}" />

<xf:checkboxrow>
	<xf:option name="options[at_lmo_usercount]" value="1" selected="{$options.at_lmo_usercount}"
		label="{{ phrase('at_lmo_usercount') }}" />
</xf:checkboxrow>

<xf:radiorow name="options[at_lmo_sort]" value="{{ $options.at_lmo_sort ?: 'last_activity' }}"
	label="{{ phrase('sort_by') }}">

	<xf:option value="user_id"
		label="{{ phrase('user_id') }}" />
	<xf:option value="username"
		label="{{ phrase('username') }}" />
	<xf:option value="register_date"
		label="{{ phrase('register_date') }}" />
	<xf:option value="last_activity"
		label="{{ phrase('last_activity') }}" />
</xf:radiorow>

<xf:radiorow name="options[at_lmo_order]" value="{{ $options.at_lmo_order ?: 'DESC' }}"
	label="{{ phrase('sort_by') }}">

	<xf:option value="DESC"
		label="{{ phrase('descending') }}" />
	<xf:option value="ASC"
		label="{{ phrase('ascending') }}" />
</xf:radiorow>